.about-section{
    padding-top: 10%;
    margin-bottom: 3%;
}
.about-all{
    margin-left: 13% !important;
    color: #fed43a !important;
}
.about-me-second{
    border: 8px solid #fed43a;
    background-color:#121212 ;
    margin-bottom: 15%;
}
.happy{
    padding: 10%;
}
